@import './_custom';
@import '~owl.carousel/dist/assets/owl.theme.default.min.css';
@import '~owl.carousel/dist/assets/owl.carousel.min.css';
@import '~bootstrap/scss/bootstrap.scss';
@import '../../node_modules/choices.js/src/styles/choices.scss';
@import '~js-datepicker/src/datepicker';
@import '~nouislider/distribute/nouislider.min.css';
@import '~normalize.css';
// @import '~tiny-slider/dist/tiny-slider.css';