@import './_custom';
@import '~owl.carousel/dist/assets/owl.theme.default.min.css';
@import '~owl.carousel/dist/assets/owl.carousel.min.css';
@import '~bootstrap/scss/bootstrap.scss';
@import '~normalize.css';
// @import '~tiny-slider/dist/tiny-slider.css';