@media(max-width: 1310px)
{
    .advantages-registration-row .block-advantages-registration
    {
        padding-left: 0;
        padding-right: 0;
    }
    .load-photo
    {
        position: relative;
        margin-bottom: 32px;
    }
    .list-container-row
    {
        margin-right: -15px;
        margin-left: -15px;
    }
    .list-container-row .col-3, .list-container-row .col-9
    {
        padding-left: 15px;
        padding-right: 15px;
    }
    .container 
    {
        max-width: 100%;
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
    }
}
@media(max-width: 1280px)
{
    .block-tooltip:after
    {
        left: -248px;
    }
    .block-tooltip:before
    {
        left: -18px;
        transform: rotate(180deg);
    }
    .tariff-block__content
    {
        padding: 35px;
    }
    .quick-job-search-block-content
    {
        padding: 64px 78px 43px;
    }
    .quick-job-search-block-content form input[type=submit]
    {
        padding-left: 30px;
        padding-right: 30px;
    }
    .list-container-row
    {
        margin-left: -20px;
        margin-right: -20px;
    }
    .list-container-row .col-3, .list-container-row .col-9
    {
        padding-right: 20px;
        padding-left: 20px;
    }
    .row-companies
    {
        margin-left: -10px;
        margin-right: -10px;
    }
    .row-companies .col-6
    {
        padding-left: 10px;
        padding-right: 10px;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .profile-container-row
    {
        margin-left: -20px;
        margin-right: -20px;
    }
    .profile-container-row .col-3, .profile-container-row .col-9
    {
        padding-left: 20px;
        padding-right: 20px;
    }
    .quick-job-search-block-content form[data-for="employee"] input[type=text]
    {
        width: 29.7%;
    }
    .quick-job-search-block-content form[data-for="employer"] input[type=text]
    {
        width: 45%;
    }
}
@media(max-width: 1180px)
{
    .post .steps-post
    {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
    .post .steps-post__arrow
    {
        display: none;
    }
    .post .steps-post__step
    {
        margin-bottom: 32px;
    }
    .post .steps-post__step:last-child
    {
        margin-bottom: 0;
    }
    .post .steps-post__step
    {
        display: none;
    }
    .post .steps-post__step_current
    {
        display: block;
        margin-bottom: 0;
    }
    .posting-pictures-block .col-6 
    {
        max-width: 100%;
        flex: 0 0 100%;
    }
    .posting-pictures-block .col-6:first-child
    {
        margin-bottom: 20px;
    }
    .brief-information-block
    {
        flex-direction: column;
    }
    .brief-information-block__info
    {
        margin-left: 0;
        margin-top: 20px;
    }
    .row-companies .col-6
    {
        padding-left: 10px;
        padding-right: 10px;
    }
    .row-card .col-3
    {
        flex: 0 0 33%;
        max-width: 33%;
    }
    .card
    {
        max-width: initial;
    }
    .row-article .col-3
    {
        flex: 0 0 33%;
        max-width: 33%;
    }
    .card .card__toggle
    {
        width: 20%;
    }
    // .all-articles .row .col-3
    // {
    //     max-width: 33%;
    //     flex: 0 0 33%;
    // }
    .vacancies-company .row .col-3
    {
        max-width: 33%;
        flex: 0 0 33%;
    }
    .footer .footer-right .col-auto 
    {
        flex: 0 0 25%;
        max-width: 25%;
    }
    .header-top
    {
        display: none;
    }
    .header-top-tablet
    {
        display: block;
    }
    .header-bottom-right .button-text, .header-profile .logout
    {
        margin-left: 40px;
    }
    .header-bottom-right .button-text .img-svg 
    {
        margin: 0;
    }
    .header-scroll-right .button-text
    {
        margin-left: 40px;
    }
    .header-bottom-right .button-text p 
    {
        display: none;
    }
    .row-card .col-4
    {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .profile-container .sidebar-image
    {
        display: none;
    }
    .favorites-list-row .col-4
    {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .header-scroll-right .button-text p 
    {
        display: none;
    }
    .header-scroll-right .profile .img-svg
    {
        margin: 0;
    }
    .header-top-tablet__middle .feedback 
    {
        margin-left: 20px;
        margin-right: 20px;
    }
    .header-profile p 
    {
        display: none;
    }
    .subscription form .other-position .button-text, .mailing form .other-position .button-text
    {
        margin-left: 0;
        margin-top: 17px;
    }
    .subscription form .other-position, .mailing form .other-position
    {
        flex-direction: column;
    }
    .row-tariffs .col-4
    {
        flex: 0 0 50%;
        max-width: 50%;
    }
}
@media(max-width: 1000px)
{
    .main-button, .other-button 
    {
        padding-left: 15px;
        padding-right: 15px;
    }
    .faq-main-content__right
    {
        display: none;
    }
    .faq-main-content__left
    {
        width: 100%;
    }
    .advantages-registration-row .col-3
    {
        flex: 0 0 50%;
        max-width: 50%;
        margin-bottom: 25px;
    }
    .main-images .col-3
    {
        max-width: 33%;
        flex: 0 0 33%;
    }
}
@media(max-width: 965px)
{
    .footer .row:nth-child(1)
    {
        flex-direction: column;
        justify-content: center !important;
        align-items: center;
    }
    .footer .footer-left, .footer .footer-right 
    {
        max-width: 100%;
        flex: 0 0 100%;
    }
    .footer .footer-left
    {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .footer-pages 
    {
        display: none;
    }
    .footer .footer-right
    {
        margin-top: 25px;
    }
    .footer .footer-contacts 
    {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .footer .footer-right .col-auto
    {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .footer
    {
        padding-top: 54px;
        padding-bottom: 48px;
    }
}
@media(max-width: 950px)
{
    .profile-container .detailed-description .row
    {
        margin-left: -20px;
        margin-right: -20px;
    }
    .profile-container .detailed-description .col-3, .profile-container .detailed-description .col-9
    {
        padding-left: 20px;
        padding-right: 20px;
    }
    // .all-articles .row .col-3
    // {
    //     flex: 0 0 50%;
    //     max-width: 50%;
    // }
    .close-modal
    {
        padding-left: 16px;
        padding-right: 16px;
        padding-top: 16px;
    }
    .modal-form-content
    {
        padding-left: 16px;
        padding-right: 16px;
    }
    .button-filter, .button-account
    {
        display: flex;
    }
    .button-account
    {
        margin-bottom: 48px;
    }
    .additional-search 
    {
        flex-wrap: wrap;
    }
    .additional-search form 
    {
        width: 100%;
        margin-top: 32px;
    }
    .additional-search form input[type=text]
    {
        min-width: 100%;
        max-width: 100%;
    }
    .list-container-row .col-3
    {
        display: none;
    }
    .list-container-row .col-9
    {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .map-api
    {
        height: 400px;
    }
    .profile-container-row .col-3
    {
        display: none;
    }
    .profile-container-row .col-9
    {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .sidebar-profile 
    {
        border-radius: 0;
        padding: 0;
        box-shadow: none;
    }
}
@media(max-width: 940px)
{
    // .quick-job-search-block-content form input[type=text]
    // {
    //     width: 25%;
    // }
    .quick-job-search-block-content
    {
        padding: 43px;
    }
    .quick-job-search-block-content .hash-tags
    {
        justify-content: center;
    }
}
@media(max-width: 900px)
{
    .vacancies-company .row .col-3
    {
        max-width: 50%;
        flex: 0 0 50%;
    }
    .row-card .col-3
    {
        flex: 0 0 50%;
        max-width: 50%;
    }
}
@media(max-width: 850px)
{
    .row-article .col-3
    {
        flex: 0 0 50%;
        max-width: 50%;
    }
}
@media(max-width: 800px)
{
    .row-companies .col-6
    {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .row-card .col-4
    {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .detailed-description-block .col-3, .detailed-description-block .col-9
    {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .navigation-steps-slider
    {
        position: relative;
        top: 0;
        margin-top: 50px;
    }
    .usage-steps-slider-block__image
    {
        height: auto;
    }
    .usage-steps-slider-block__desc, .usage-steps-slider-block__name
    {
        width: 100%;
    }
    .usage-steps-slider-block__name
    {
        margin-top: 50px;
    }
    .usage-steps-slider-block__desc
    {
        margin-top: 32px;
    }
    .header-bottom-left p
    {
        display: none;
    }
}
@media(max-width: 750px)
{
    .main-images .col-3
    {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .transfer-steps__left
    {
        flex-direction: column;
        align-items: flex-start;
    }
    .transfer-steps__left a:nth-child(2)
    {
        margin-left: 0;
        margin-top: 15px;
    }
}
@media(max-width: 700px)
{
    .container-compressed
    {
        width: 100%;
    }
    .wrapper-form-share form input[type=text]
    {
        display: block;
        width: 100%;
        margin-right: 0;
    }
    .wrapper-form-share form input[type=submit]
    {
        margin-top: 10px;
    }
    .block-callback
    {
        flex-direction: column;
        align-items: flex-start;
    }
    .block-callback .block-radio:nth-child(2)
    {
        margin-left: 0;
    }
    .header-bottom-right .button-text, .header-profile .logout
    {
        margin-left: 25px;
    }
    .header-scroll-right .button-text, .header-scroll-right .logout
    {
        margin-left: 25px;
    }
    .header-top-tablet__middle a, .header-top-tablet__middle .feedback
    {
        margin-left: 12.5px;
        margin-right: 12.5px;
    }
    .work-period
    {
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }
    .work-period__block
    {
        margin-top: 32px;
        width: 100%;
    }
    .work-period__block input 
    {
        width: 100%;
    }
}
@media(max-width: 650px)
{
    // .subscription, .mailing 
    // {
    //     .row 
    //     {
    //         .col-4 
    //         {
    //             div:last-child 
    //             {
    //                 margin: auto;
    //             }
    //         }
    //     }
    // }
    .modal-confirm, .successful-sending, .modal-re-confirm
    {
        height: auto;
        min-height: 100vh;
        transform: translate(0);
    }
    .block-tooltip 
    {
        display: none;
    }
    .general-info .col-4, .general-info .col-6 
    {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .general-info .col-6
    {
        margin-top: 24px;
    }
    .row-article .col-3, .row-article .col-4, .row-card .col-3, .row-card .col-4 
    {
        padding-left: 16px;
        padding-right: 16px;
    }
    .block-post .row 
    {
        margin-top: -17px;
    }
    .filter-block
    {
        width: 100%;
    }
    .periods__stage
    {
        flex-direction: column;
        align-items: flex-start;
    }
    .periods__stage input
    {
        margin-left: 0;
        margin-top: 16px;
    }
    .order-block-content .col-4, .order-block-content .col-8
    {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .order-block-content .col-8
    {
        margin-top: 16px;
    }
    .row-tariffs .col-4
    {
        max-width: 100%;
        flex: 0 0 100%;
    }
    .modal-find .quick-job-search-block .quick-job-search-block-content
    {
        padding-left: 0;
        padding-right: 0;
    }
    .modal-find 
    {
        top: 51px;
    }
    .profile-container .detailed-description .row
    {
        margin-left: -16px;
        margin-right: -16px;
    }
    .profile-container .detailed-description .col-3, .profile-container .detailed-description .col-9
    {
        padding-left: 16px;
        padding-right: 16px;
    }
    .brief-information
    {
        flex-direction: column;
    }
    .block-to-rate 
    {
        margin-top: 32px;
        height: auto;
        padding: 16px 24px;
    }
    .tabs-items
    {
        flex-wrap: wrap;
        margin: 0;
    }
    .tabs-items .tabs-item
    {
        width: 100%;
        margin: 0;
        padding-left: 0;
        padding-right: 0;
    }
    .modal-form
    {
        width: 100%;
        left: 0;
        right: 0;
        top: 0;
        border-radius: 0;
    }
    .header .feedback
    {
        margin-left: 0;
        margin-right: 0;
    }
    .header-top-tablet__middle a
    {
        margin-right: 15px;
        margin-left: 15px;
    }
    .header-top-tablet__left
    {
        display: none;
    }
    .header-top-tablet__middle a
    {
        margin-left: 0;
        margin-right: 0;
    }
    .header-top-tablet__middle .button-text .img-svg 
    {
        margin: 0;
    }
    .header-top-tablet__middle .feedback 
    {
        margin-left: 30px;
    }
    .header-scroll 
    {
        display: none;
    }
    .main-logo 
    {
        display: none;
    }
    .mobile-logo 
    {
        display: block;
    }
    .header-bottom-left p
    {
        display: block;
        width: auto;
        margin-left: 20px;
    }
    .container
    {
        padding-left: 16px;
        padding-right: 16px;
    }
    .header-bottom 
    {
        padding-top: 17px;
        padding-bottom: 17px;
        border-top: 0;
    }
    .header-bottom-right
    {
        display: none;
    }
    .menu-content-block__title
    {
        font-size: 23px;
    }
    .menu-content-block__help a, .menu-content-block__values a
    {
        font-size: 15px;
        margin-top: 25px;
    }
    .menu-content-block__points
    {
        margin-top: 25px;
    }
    .menu-content-block
    {
        padding-bottom: 32px;
        margin-bottom: 32px;
    }
    .menu-content
    {
        margin-top: 17px;
    }
    .menu-submenu-title__block p
    {
        font-size: 20px;
    }
    .header-top-tablet
    {
        padding-top: 17px;
        padding-bottom: 17px;
    }
    .header-mode-mobile 
    {
        display: flex;
    }
    .wrapper-transition-arrow 
    {
        flex-direction: column;
        align-items: flex-start;
    }
    .transition-button:nth-child(2)
    {
        margin-top: 32px;
    }  
    .row 
    {
        margin-left: -16px;
        margin-right: -16px;
    }
    .col, .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col-auto, .col-lg, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-auto, .col-md, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md-auto, .col-sm, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-auto
    {
        padding-left: 16px;
        padding-right: 16px;
    }
    .list-container-row
    {
        margin-left: -16px;
        margin-right: -16px;
    } 
    .list-container-row .col-3, .list-container-row .col-9
    {
        padding-left: 16px;
        padding-right: 16px;
    }
    .row-card .col-4
    {
        padding-left: 16px;
        padding-right: 16px;
    }
    .row-card
    {
        margin-left: -16px;
        margin-right: -16px;
    }
    .row-companies
    {
        margin-left: -16px;
        margin-right: -16px;
    }
    .row-companies .col-6
    {
        padding-left: 16px;
        padding-right: 16px;
    }
    .block-post .row
    {
        flex-direction: column;
    }
    .block-post .row .col-4 
    {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .block-post .row .col-8 
    {
        margin-top: 32px;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .block-post .row .col-8 .col-6 
    {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .block-skip-step
    {
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }
    .block-skip-step a 
    {
        margin-top: 32px;
    }
    .transfer-steps
    {
        flex-direction: column;
        align-items: flex-start;
    }
    .transfer-steps *:first-child 
    {
        margin-bottom: 32px;
    }
    form .col-4 
    {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .quick-job-search h1, .new-vacancies h1, .top-companies h1, .usage-steps h1, .faq-main h1, .useful-articles h1, .new-resumes h1
    {
        padding-left: 16px;
        padding-right: 16px;
    }
    .quick-job-search-block__buttons
    {
        flex-direction: column;
    }
    .quick-job-search-block__buttons .button-text:last-child
    {
        margin-top: 22px;
    }
    .quick-job-search-block-content
    {
        padding: 32px 16px 32px 16px;
    }
    .quick-job-search-block-content form input[type=text]
    {
        display: none;
    }
    .input-search-mobile 
    {
        display: block;
        width: calc(100% - 60px) !important;
        height: 56px !important;
        position: relative;
    }
    .input-search-mobile input 
    {
        display: initial !important;
        width: 100% !important;
        height: 100% !important;
    }
    .button-detailed-search
    {
        display: flex;
        justify-content: center;
        align-items: center;
        background: transparent;
        border: 0;
        outline: none;
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        width: 45px;
        margin: 0;
        padding: 0;
    }
    .quick-job-search-block-content form input[type=submit]
    {
        width: 56px;
        height: 56px;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url(../img/icon_bg_submit.svg);
    }
    .accordion-content-block .accordion-block-title p
    {
        font-size: 17px;
    }
    .accordion-content-block .accordion-block-desc
    {
        font-size: 15px;
    }
    .block-mt-purple
    {
        margin-top: 72px;
    }
    .block-mt-dark-blue 
    {
        margin-top: 56px;
    }
    .block-mt-blue 
    {
        margin-top: 48px;
    }
    .block-mt-green 
    {
        margin-top: 32px;
    }
    .block-mt-yellow 
    {
        margin-top: 24px;
    }
    .block-mt-orange 
    {
        margin-top: 17px;
    }
    .block-mb-purple
    {
        margin-bottom: 72px;
    }
    .block-mb-dark-blue 
    {
        margin-bottom: 56px;
    }
    .block-mb-blue 
    {
        margin-bottom: 48px;
    }
    .block-mb-green 
    {
        margin-bottom: 32px;
    }
    .block-mb-yellow 
    {
        margin-bottom: 24px;
    }
    .block-mb-orange 
    {
        margin-bottom: 17px;
    }
    .block-pt-purple
    {
        padding-top: 72px;
    }
    .block-pt-dark-blue 
    {
        padding-top: 56px;
    }
    .block-pt-blue 
    {
        padding-top: 48px;
    }
    .block-pt-green 
    {
        padding-top: 32px;
    }
    .block-pt-yellow 
    {
        padding-top: 24px;
    }
    .block-pt-orange 
    {
        padding-top: 17px;
    }
    .block-pb-purple
    {
        padding-bottom: 72px;
    }
    .block-pb-dark-blue 
    {
        padding-bottom: 56px;
    }
    .block-pb-blue 
    {
        padding-bottom: 48px;
    }
    .block-pb-green 
    {
        padding-bottom: 32px;
    }
    .block-pb-yellow 
    {
        padding-bottom: 24px;
    }
    .block-pb-orange 
    {
        padding-bottom: 17px;
    }
    h1 
    {
        font-size: 36px;
    }
    h2 
    {
        font-size: 23px;
    }
    h3 
    {
        font-size: 17px;
    }
    p 
    {
        font-size: 15px;
    }
    a 
    {
        font-size: 15px;
    }
    ul li 
    {
        font-size: 15px;
    }
    #detailed-search
    {
        height: 361px;
        top: calc(50% - 180px);
        left: 16px;
        right: 16px;
        border-radius: 3px;
        width: auto;
        .modal-form-content
        {
            padding-bottom: 56px;
        }
    }
    #form-detailed-search input
    {
        width: 100% !important;
        height: 56px !important;
    }
    .block-to-rate, .block-to-edit
    {
        width: 100%;
    }
    .type-employer .block-radio
    {
        margin-top: 22px !important;
        margin-bottom: 0 !important;
    }
    .transfer-steps__left a:nth-child(2)
    {
        margin-top: 0;
    }
    .transfer-steps__right a 
    {
        margin-bottom: 0 !important;
    }
    .row-tariffs
    {
        margin-top: -32px;
    }
}
@media(max-width: 550px)
{
    .row-companies .company-card
    {
        height: auto;
    }
    .advantages-registration-row .col-3
    {
        flex: 0 0 100%;
        max-width: 100%;
        margin-bottom: 30px;
    }
    .wrapper-map, .map-api
    {
        height: 270px;
    }
    .vacancies-company .row .col-3
    {
        max-width: 100%;
        flex: 0 0 100%;
    }
    .company-card
    {
        flex-direction: column;
    }
    .company-card__right
    {
        width: 100%;
        margin-top: 25px;
        margin-left: 0;
    }
    // .all-articles .row .col-3
    // {
    //     max-width: 100%;
    //     flex: 0 0 100%;
    // }
    .main-images .col-3
    {
        max-width: 100%;
        flex: 0 0 100%;
    }
    .row-article .col-3, .row-card .col-3
    {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .row-card .col-4
    {
        max-width: 100%;
        flex: 0 0 100%;
    }
    .favorites-list-row .col-4
    {
        max-width: 100%;
        flex: 0 0 100%;
    }
}
@media(max-width: 500px)
{
    .pagination
    {
        flex-wrap: wrap;
    }
    .wrapper-pagination .pagination__block
    {
        margin-bottom: 10px;
    }
    .row-card .col-4
    {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .block-file label
    {
        flex-direction: column;
    }
    .block-file label .file-value
    {
        margin-left: 0;
        margin-top: 20px;
    }
    .block-file label .button-attach-file
    {
        width: 100%;
    }
    .wrapper-form-share form .block-choice-filter
    {
        flex-direction: column;
        align-items: flex-start;
    }
    .wrapper-form-share form .block-choice-filter .block-radio
    {
        margin-right: 0;
        margin-top: 20px;
    }
    .block-callback .choices
    {
        margin-left: 0;
        width: 100%;
        margin-top: 25px;
    }
    .block-callback .block-radio
    {
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 25px;
        width: 100%;
    }
    .general-info-content 
    {
        flex-direction: column;
        align-items: flex-start;
    }
    .general-info-content-block__response 
    {
        margin-left: 0;
    }
}
@media(max-width: 450px)
{
    .block-gender 
    {
        flex-direction: column;
        align-items: flex-start;
    }
    .block-gender .block-radio
    {
        margin-top: 20px;
        margin-left: 0;
    }
}
@media(max-width: 400px)
{
    .container-compressed form .block-remember
    {
        flex-direction: column;
        align-items: flex-start;
    }
    .container-compressed form .block-remember a
    {
        margin-top: 10px;
    }
}