@import './_fonts';
@import './_libs';

// Отступы

.block-purple
{
    margin-bottom: 96px;
}
.block-dark-blue 
{
    margin-bottom: 75px;
}
.block-blue 
{
    margin-bottom: 64px;
}
.block-green 
{
    margin-bottom: 43px;
}
.block-yellow 
{
    margin-bottom: 32px;
}
.block-orange 
{
    margin-bottom: 22px;
}

body 
{
    padding: 0;
    margin: 0;
    background-color: $body-bg-color;
}

button, input
{
    outline: none;
}

* {
    box-sizing: border-box;
}

// Заголовки и текст

h1, h2, h3, h4, p 
{
    margin: 0;
    padding: 0;
}

h1 
{
    font-family: Raleway Bold;
    font-size: 48px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: $color-primary;
}

h2 
{
    font-family: Raleway Bold;
    font-size: 30px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: $color-primary;
}

h3 
{
    font-family: Montserrat Bold;
    font-size: 19px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.47;
    letter-spacing: normal;
    color: $color-primary;
}

h4 
{
    font-family: Montserrat Bold;
    font-size: 15px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: $color-primary;
}

p 
{
    font-family: Montserrat Regular;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.88;
    letter-spacing: normal;
    color: $color-primary;
}

/* Ссылки */

a 
{
    font-family: Montserrat Regular;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.88;
    letter-spacing: normal;
    color: $color-ref;
    border-bottom: 1px dashed currentColor;
    transition: .3s;
    text-decoration: none !important;
}
a:hover 
{
    color: $color-hover;
}

// a.disabled 
// {
//     color: $color-disabled;
//     pointer-events: none;
// }


/* Кнопки */

button 
{
    padding: 15px 30px;
    font-family: Montserrat Bold;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: $color-main-button;
    box-shadow: 0 10px 20px 0 rgba(15, 20, 91, 0.1);
    background-color: $color-ref;
    transition: .3s;
}

button:hover 
{
    background-color: $color-hover;
    box-shadow: 0 15px 25px 0 rgba(15, 20, 91, 0.1);
}

button:active 
{
    background-color: $color-clicked;
    box-shadow: 0 10px 20px 0 rgba(15, 20, 91, 0.1);
}

// button.disabled 
// {
//     pointer-events: none;
//     background-color: $color-disabled;
// }

// Поле ввода 

input[type="text"]
{
    background-color: #fff;
    height: 53px;
    padding-left: 20px;
    font-family: Montserrat Bold;
    font-size: 13px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: $color-disabled;
    border: solid 2px currentColor;
}

input[type="text"]::placeholder 
{
    color: $color-disabled;
}

input[type="text"]:focus, input[type="text"]:focus::placeholder 
{
    color: $color-ref;
}

// Шапка 

.header 
{
    &-top 
    {
        padding-top: 22px;
        padding-bottom: 22px;
        &-left 
        {
            display: flex;
            align-items: center;
            a 
            {
                img 
                {
                    margin-left: 10px;
                }
            }
            .choice-lang 
            {
                display: flex;
                align-items: center;
                border: 0;
            }
            .choice-city 
            {
                display: flex;
                align-items: center;
                margin-left: 30px;
                border: 0;
            }
        }
        &-middle 
        {
            display: flex;
            align-items: center;
            .choice-mode 
            {
                border: 0;
                border-radius: 20px;
                background-color: transparent;
                padding: 6px 20px;
                font-family: Montserrat Bold;
                font-size: 15px;
                font-weight: bold;
                font-stretch: normal;
                font-style: normal;
                line-height: normal;
                letter-spacing: normal;
                color: $color-disabled;
                display: flex;
                justify-content: center;
                align-items: center;
                transition: .3s;
                margin-left: 20px;
                margin-right: 20px;

            }
            .choice-mode_active 
            {
                background-color: $color-ref;
                color: $color-main-button;
            }
            
        }
        &-right 
        {
            display: flex;
            align-items: center;
            .help 
            {
                display: flex;
                align-items: center;
                border: 0;
                font-family: Montserrat Bold;
                font-size: 15px;
                font-weight: bold;
                font-stretch: normal;
                font-style: normal;
                line-height: normal;
                letter-spacing: normal;
                color: $color-ref;
                img 
                {
                    margin-left: 10px;
                }
            }
        }
    }
    &-bottom 
    {
        padding-top: 45px;
        padding-bottom: 45px;
        border-top: 1px solid rgba(38, 34, 98, 0.1);
        &-left 
        {
            display: flex;
            align-items: center;
            a 
            {
                display: block;
                border: 0;
            }
            p 
            {
                font-family: Montserrat Regular;
                font-size: 13px;
                font-weight: normal;
                font-stretch: normal;
                font-style: normal;
                line-height: normal;
                letter-spacing: normal;
                margin-left: 37px;
            }
        }
        &-right 
        {
            display: flex;
            align-items: center;
            justify-content: space-between;
            a 
            {
                border: 0;
                font-family: Montserrat Bold;
                font-size: 15px;
                font-weight: bold;
                font-stretch: normal;
                font-style: normal;
                line-height: normal;
                letter-spacing: normal;
                color: $color-ref;
                img 
                {
                    margin-right: 10px;
                }
            }
        }
    }
}







@import './_media';