@import './_fonts';
@import './_libs';

// Отступы

.block-mt-purple
{
    margin-top: 96px;
}
.block-mt-dark-blue 
{
    margin-top: 75px;
}
.block-mt-blue 
{
    margin-top: 64px;
}
.block-mt-green 
{
    margin-top: 43px;
}
.block-mt-yellow 
{
    margin-top: 32px;
}
.block-mt-orange 
{
    margin-top: 22px;
}

.block-mb-purple
{
    margin-bottom: 96px;
}
.block-mb-dark-blue 
{
    margin-bottom: 75px;
}
.block-mb-blue 
{
    margin-bottom: 64px;
}
.block-mb-green 
{
    margin-bottom: 43px;
}
.block-mb-yellow 
{
    margin-bottom: 32px;
}
.block-mb-orange 
{
    margin-bottom: 22px;
}

body 
{
    padding: 0;
    margin: 0;
    background-color: $body-bg-color;
}

button, input
{
    outline: none;
}

* {
    box-sizing: border-box;
}

// Заголовки и текст

h1, h2, h3, h4, p 
{
    margin: 0;
    padding: 0;
}

h1 
{
    font-family: Raleway Bold;
    font-size: 48px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: $color-primary;
}

h2 
{
    font-family: Raleway Bold;
    font-size: 30px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: $color-primary;
}

h3 
{
    font-family: Montserrat Bold;
    font-size: 19px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.47;
    letter-spacing: normal;
    color: $color-primary;
}

h4 
{
    font-family: Montserrat Bold;
    font-size: 15px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: $color-primary;
}

p 
{
    font-family: Montserrat Regular;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.88;
    letter-spacing: normal;
    color: $color-primary;
}

/* Ссылки */

a 
{
    font-family: Montserrat Regular;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.88;
    letter-spacing: normal;
    color: $color-ref;
    border-bottom: 1px dashed currentColor;
    transition: .3s;
    text-decoration: none !important;
}
a:hover 
{
    color: $color-hover;
}

// a.disabled 
// {
//     color: $color-disabled;
//     pointer-events: none;
// }


/* Кнопки */

.main-button 
{
    padding: 15px 30px;
    font-family: Montserrat Bold;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    border: 0;
    line-height: normal;
    letter-spacing: normal;
    color: #fff;
    box-shadow: 0 10px 20px 0 rgba(15, 20, 91, 0.1);
    background-color: $color-ref;
    transition: .3s;
    text-transform: uppercase;
}

.main-button:hover 
{
    background-color: $color-hover;
    box-shadow: 0 15px 25px 0 rgba(15, 20, 91, 0.1);
}

.main-button:active 
{
    background-color: $color-clicked;
    box-shadow: 0 10px 20px 0 rgba(15, 20, 91, 0.1);
}

// button.disabled 
// {
//     pointer-events: none;
//     background-color: $color-disabled;
// }

button 
{
    outline: none !important;
}

.button-text 
{
    display: flex;
    align-items: center;
    transition: .3s;
    font-family: Montserrat Bold;
    font-size: 15px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: $color-ref;
    justify-content: center;
    border: 0;
    .img-svg
    {
        margin-right: 10px;
    }
}

.button-text:hover 
{
    color: $color-hover;
    .img-svg path 
    {
        fill: $color-hover;
    }
}

.button-text:active 
{
    color: $color-clicked;
    .img-svg path 
    {
        fill: $color-clicked;
    }
}

.other-button 
{
    background-color: #fff;
    padding: 15px 30px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Montserrat Bold;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: $color-ref;
    box-shadow: 0 10px 20px 0 rgba(15, 20, 91, 0.1);
    transition: .3s;
}

.other-button:hover 
{
    color: $color-hover;
}

.other-button:active 
{
    color: $color-clicked;
}

.wrapper-button 
{
    display: flex;
    justify-content: center;
    align-items: center;
}

// Поле ввода 

input[type="text"]
{
    background-color: #fff;
    height: 53px;
    padding-left: 20px;
    font-family: Montserrat Bold;
    font-size: 13px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: $color-disabled;
    border: solid 2px currentColor;
}

input[type="text"]::placeholder 
{
    color: $color-disabled;
}

input[type="text"]:focus, input[type="text"]:focus::placeholder 
{
    color: $color-ref;
}
input[type="text"]:focus
{
    border-left: 2px solid currentColor !important;
    border-right: 2px solid currentColor !important;
}

.wrapper 
{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    &-content 
    {
        flex: 1 1 auto;
    }
}

// Пагинация 

.wrapper-pagination
{
    display: flex;
    justify-content: center;
    align-items: center;
    .pagination 
    {
        display: flex;
        align-items: center;
        &__block 
        {
            background-color: #fff;
            color: $color-ref;
            font-family: Montserrat Bold;
            font-size: 14px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 35px;
            height: 35px;
            transition: .3s;
            margin-right: 10px;
            border: 0;
        }
        &__block:hover 
        {
            color: #fff;
            background-color: $color-hover;
        }
        &__block:active 
        {
            color: #fff;
            background-color: $color-clicked;
        }
        &__block_current
        {
            background-color: $color-ref;
            color: #ffffff;
        }
    }
}

// Шапка 

.header 
{
    &-top 
    {
        padding-top: 22px;
        padding-bottom: 22px;
        &-left 
        {
            display: flex;
            align-items: center;
            a 
            {
                font-family: Montserrat Bold;
                font-size: 15px;
                font-weight: bold;
                font-stretch: normal;
                font-style: normal;
                line-height: normal;
                letter-spacing: normal;
                color: $color-ref;
                .img-svg
                {
                    margin-left: 10px;
                }
            }
            a:hover 
            {
                color: $color-hover;
                .img-svg path 
                {
                    fill: $color-hover;
                }
            }
            .choice-lang 
            {
                display: flex;
                align-items: center;
                border: 0;
            }
            .choice-city 
            {
                display: flex;
                align-items: center;
                margin-left: 30px;
                border: 0;
            }
        }
        &-middle 
        {
            display: flex;
            align-items: center;
            .choice-mode 
            {
                border: 0;
                border-radius: 20px;
                background-color: transparent;
                padding: 6px 20px;
                font-family: Montserrat Bold;
                font-size: 15px;
                font-weight: bold;
                font-stretch: normal;
                font-style: normal;
                line-height: normal;
                letter-spacing: normal;
                color: $color-disabled;
                display: flex;
                justify-content: center;
                align-items: center;
                transition: .3s;
                margin-left: 20px;
                margin-right: 20px;

            }
            .choice-mode:hover 
            {
                background-color: $color-ref;
                color: #fff;
            }
            .choice-mode_active 
            {
                background-color: $color-ref;
                color: #fff;
            }
            
        }
        &-right 
        {
            display: flex;
            align-items: center;
            .help 
            {
                display: flex;
                align-items: center;
                border: 0;
                font-family: Montserrat Bold;
                font-size: 15px;
                font-weight: bold;
                font-stretch: normal;
                font-style: normal;
                line-height: normal;
                letter-spacing: normal;
                color: $color-ref;
                .img-svg 
                {
                    margin-left: 10px;
                }
            }
            .help:hover 
            {
                color: $color-hover;
                .img-svg path 
                {
                    fill: $color-hover;
                }
            }
        }
    }
    &-bottom 
    {
        padding-top: 45px;
        padding-bottom: 45px;
        border-top: 1px solid rgba(38, 34, 98, 0.1);
        &-left 
        {
            display: flex;
            align-items: center;
            a 
            {
                display: block;
                border: 0;
            }
            p 
            {
                font-family: Montserrat Regular;
                font-size: 13px;
                font-weight: normal;
                font-stretch: normal;
                font-style: normal;
                line-height: normal;
                letter-spacing: normal;
                margin-left: 37px;
            }
        }
        &-right 
        {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }
}

// Быстрый поиск 

.quick-job-search 
{
    h1 
    {
        text-align: center;
    }
    &-content 
    {
        border-radius: 3px;
        box-shadow: 0 10px 20px 0 rgba(15, 20, 91, 0.1);
        background-color: #ffffff;
        padding: 64px 105px 43px 105px;
        form 
        {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            input[type="text"]
            {
                width: 28%;
            }
            input[type="text"]:nth-child(1)
            {
                border-right: 0;
            }
            input[type="text"]:nth-child(3)
            {
                border-left: 0;
                border-right: 0;
            }
            input[type="submit"]
            {
                padding-left: 50px;
                padding-right: 50px;
            }
        }
        .detailed-search 
        {
            margin-top: 43px;
        }
        .hash-tags 
        {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            margin-top: 73px;
            &__link 
            {
                display: flex;
                margin-right: 15px;
                margin-bottom: 15px;
                align-items: center;
                font-family: Montserrat Regular;
                font-size: 13px;
                font-weight: normal;
                font-stretch: normal;
                font-style: normal;
                line-height: normal;
                letter-spacing: normal;
                color: $color-ref;
                border: 0;
                span 
                {
                    color: $color-disabled;
                    margin-left: 3px;
                }
            }
        }
    }
    &__buttons 
    {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding-top: 22px;
        padding-bottom: 22px;
        border-top: 1px solid rgba(38, 34, 98, 0.1);
        background-color: #fff;
    }
}

// Свежие вакансии 

.label-top
{
    position: absolute;
    right: -22px;
    top: -22px;
    display: block;
    font-family: Montserrat Bold;
    font-size: 14px;
    font-weight: 700;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #fff;
    width: 87px;
    height: 87px;
    background-repeat: no-repeat;
    opacity: 0;
    transition: .3s;
}

.vacancy-card 
{
    max-width: 295px;
    height: 488px;
    border-radius: 3px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 10px 20px 0 rgba(15,20,91,.1);
    position: relative;
    &__desc 
    {
        padding: 31px 33px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .vacancy-card__name
        {
            font-family: Montserrat Bold;
            font-size: 18px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            color: $color-primary;
            max-height: 66px;
            height: 66px;
            margin-bottom: 32px;
            overflow: hidden;
        }
        .vacancy-card__company 
        {
            font-family: Montserrat Regular;
            font-size: 16px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            color: $color-primary;
            max-height: 57px;
            height: 57px;
            margin-bottom: 32px;
            overflow: hidden;
        }
        .vacancy-card__salary
        {
            font-weight: bold;
            font-family: Montserrat Bold;
            font-size: 16px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            color: $color-primary;
            margin-bottom: 20px;
            overflow: hidden;
            max-height: 19px;
            height: 19px;
        }
        .vacancy-card__city
        {
            font-family: Montserrat Regular;
            font-size: 16px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            color: $color-primary;
            margin-bottom: 20px;
            overflow: hidden;
            max-height: 19px;
            height: 19px;
        }   
        .vacancy-card__parameters
        {
            font-family: Montserrat Regular;
            font-size: 16px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            color: $color-primary;
            margin-bottom: 32px;
            overflow: hidden;
            max-height: 40px;
            height: 40px;
        }
        .vacancy-card__date
        {
            font-family: Montserrat Light;
            font-size: 16px;
            font-weight: 300;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            color: $color-disabled;
            // margin-bottom: 32px;
            overflow: hidden;
            max-height: 18px;
            height: 18px;
        }

    }
    &__buttons 
    {
        display: flex;
        align-items: center;
        .vacancy-card__more 
        {
            width: 60px;
            height: 60px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $body-bg-color;
            border: 0;
        }
        .vacancy-card__respond 
        {
            margin-left: 50px;
        }
    }
}

.popular 
{
    .label-top 
    {
        opacity: 1;
    }
}

.vacancy-card.popular 
{
    background-color: $color-hover;
    p 
    {
        color: #ffffff;
    }
    .vacancy-card__more 
    {
        background-color: #82b435;
        .img-svg path
        {
            fill: #fff;
        }
    }
    .vacancy-card__respond
    {
        color: #fff !important;
        .img-svg path 
        {
            fill: #fff;
        }
    }
}

.new-vacancies 
{
    h1 
    {
        text-align: center;
    }
    &-content 
    {
        .row 
        {
            margin-right: -10px;
            margin-left: -10px;
        }
        .col-3
        {
            margin-bottom: 22px;
            padding-left: 10px;
            padding-right: 10px;
        }
    }
}

.ref-detail 
{
    font-family: Montserrat Bold;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: $color-ref;
}


// Лучшие компании

.arrow-slider 
{
    width: 30px;
    height: 30px;
    box-shadow: 0 10px 20px 0 rgba(15, 20, 91, 0.1);
    border: solid 1px #dddce8;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.navigation-top-companies 
{
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: absolute;
    top: 33%;
    z-index: 3;
}

button 
{
    background: transparent;
    border: none;
    outline: none;
}

.top-companies 
{
    h1 
    {
        text-align: center;
    }
    .container 
    {
        position: relative;
    }
    &-slider 
    {
        button 
        {
            position: absolute;
        }
        .owl-prev 
        {
            left: 0;
        }
        .owl-next 
        {
            right: 30px;
        }
        &-wrapper 
        {

        }
        &-block 
        {
            display: flex;
            padding: 32px;
            background-color: #fff;
            border-radius: 3px;
            // width: 400px;
            position: relative;
            &__left 
            {
                width: 31%;
            }
            &__right 
            {
                margin-left: 26px;
                width: 65%;
            }
            &__image 
            {
                img 
                {
                    max-width: 100%;
                    height: auto;
                    width: auto !important;
                }
            }
            &__name 
            {
                font-family: Montserrat Bold;
                font-size: 18px;
                font-weight: bold;
                font-stretch: normal;
                font-style: normal;
                line-height: normal;
                letter-spacing: normal;
                color: $color-primary;
                max-height: 44px;
                height: 44px;
                overflow: hidden;
                margin-bottom: 22px;
            }
            &__count 
            {
                font-family: Montserrat Light;
                font-size: 16px;
                font-weight: 300;
                font-stretch: normal;
                font-style: normal;
                line-height: normal;
                letter-spacing: normal;
                color: $color-disabled;
                max-height: 20px;
                height: 20px;
                overflow: hidden;
                margin-bottom: 30px;
            }
            &__desc 
            {
                font-family: Montserrat Regular;
                font-size: 16px;
                font-weight: normal;
                font-stretch: normal;
                font-style: normal;
                line-height: normal;
                letter-spacing: normal;
                color: $color-primary;
                max-height: 77px;
                height: 77px;
                overflow: hidden;
            }
        }
    }
}

// Звезды 

.rating__wrapper
{
    display: flex;
    position: relative;
    margin-top: 22px;
}
.rating .i-star, .rating .i-star--filled
{
    // color: $color-hover;
    // width: 15px;
    // height: 15px;
    // display: block;
    // line-height: 0;
}

.rating__filled-stars 
{
    position: absolute;
    top: 0;
    left: 0;
    overflow-x: hidden;
    display: flex;
}

.rating__filled-stars span 
{
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 15px;
    height: 15px;
    max-width: 15px;
    display: inline-block;
    margin-right: 6px;
}

.i-star
{
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   width: 15px;
   height: 15px;
   max-width: 15px;
   min-width: 15px;
   display: inline-block;
   margin-right: 6px;
}


// Баннеры с рекламой 

.main-images
{
    .row 
    {
        margin-left: -10px;
        margin-right: -10px;
    }
    .col-3 
    {
        // margin-bottom: 22px;
        padding-left: 10px;
        padding-right: 10px; 
        // height: 184px;
    }
    &__block
    {
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        display: block;
        height: 184px;
        border-radius: 3px;
        box-shadow: 0 10px 20px 0 rgba(15, 20, 91, 0.1);
        border: 0;
        // width: 295px;
        // display: block !important;
    }
}

// Как пользоваться сервисом

.navigation-steps-slider
{
  display: flex;
  align-items: center;
  position: absolute;
  top: 409px;
  width: 100%;
  justify-content: space-between;
  z-index: 3;
  height: 31px;
  button 
  {
    position: absolute;
  }
  button.disabled 
  {
      display: none;
  }
  .owl-prev 
  {
    left: 0;
  }
  .owl-next 
  {
    right: 0;
  }
}

.arrow-steps 
{
    font-family: Raleway Bold;
    font-size: 24px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: $color-primary;
    display: flex;
    &__right 
    {
        span
        {
            margin-left: 7px;
            margin-right: 12px;
        }
    }
    &__left 
    {
        span 
        {
            margin-left: 7px;
        }
        img 
        {
            margin-right: 12px;
        }
    }
}

.usage-steps 
{
    h1 
    {
        text-align: center;
    }
    &-slider 
    {
        position: relative;
        &-wrapper 
        {
            // position: relative;
        }
        &-block 
        {
            display: flex;
            flex-direction: column;
            align-items: center;
            &__image 
            {
                height: 347px;
                img 
                {
                    max-width: 100%;
                    height: auto;
                    width: auto !important;
                }
            }
            &__name 
            {
                font-family: Raleway Bold;
                font-size: 24px;
                font-weight: bold;
                font-stretch: normal;
                font-style: normal;
                line-height: normal;
                letter-spacing: normal;
                color: $color-primary;
                margin-top: 64px;
                text-align: center;
                width: 400px;
            }
            &__desc 
            {
                font-family: Montserrat Regular;
                font-size: 16px;
                font-weight: normal;
                font-stretch: normal;
                font-style: normal;
                line-height: normal;
                letter-spacing: normal;
                color: $color-primary;
                margin-top: 43px;
                text-align: center;
                width: 400px;
            }
        }
    }
}

// Аккордеон 

.accordion-content
{
    &-block 
    {
        margin-bottom: 33px;
        border-top: solid 2px #dddce8;
        padding-top: 33px;
        cursor: pointer;
        .accordion-block-title
        {
            display: flex;
            align-items: center;
            justify-content: space-between;
            p 
            {
                font-family: Montserrat Bold;
                font-size: 20px;
                font-weight: bold;
                font-stretch: normal;
                font-style: normal;
                line-height: normal;
                letter-spacing: normal;
                color: $color-primary;
                width: 85%;
            }
            .arrow-accordion
            {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 26px;
                height: 26px;
                border-radius: 10px;
                box-shadow: 0 5px 5px 0 rgba(15, 20, 91, 0.15);
                border: solid 1px #dddce8;
                background-color: #ffffff;
                transition: .3s;
                img 
                {
                    transition: .3s;
                    transform: rotateX(180deg);
                }
            }
        }
        .accordion-block-desc 
        {
            font-family: Montserrat Regular;
            font-size: 16px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            color: $color-primary;
            margin-top: 33px;
        }
    }
    &-block:nth-child(1)
    {
        border: 0;
    }
    &-block_hide 
    {
        .accordion-block-desc 
        {
            display: none;
        }
        .accordion-block-title
        {
            .arrow-accordion
            {
                img 
                {
                    transform: rotateX(0deg);
                }
            }
        }
    }
}

// Часто задаваемые вопросы на главной 

.faq-main 
{
    h1 
    {
        text-align: center;
    }
    &-content 
    {
        display: flex;
        align-items: center;
        justify-content: space-between;
        &__right 
        {
            width: 25%;
            .faq-main-content__image
            {
                width: 100%;
                img 
                {
                    max-width: 100%;
                    height: auto;
                }
            }
        }
        &__left 
        {
            width: 68%;
        }
    }
}

// Полезные статьи

.article-image 
{
    border-radius: 3px;
    box-shadow: 0 10px 20px 0 rgba(15, 20, 91, 0.1);
    display: block;
    border: 0;
    height: 549px;
    max-height: 549px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.article-block
{
    border-radius: 3px;
    box-shadow: 0 10px 20px 0 rgba(15, 20, 91, 0.1);
    display: block;
    border: 0;
    height: 549px;
    max-height: 549px;
    &__image 
    {
        height: 197px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    &__content 
    {
        padding: 32px 35px;
        background-color: #ffffff;
        min-height: 352px;
        position: relative;
        .article-block__name 
        {
            font-family: Raleway Bold;
            font-size: 18px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            color: $color-primary;
            height: 86px;
            max-height: 86px;
            overflow: hidden;
            margin-bottom: 22px;
        }
        .article-block__text 
        {
            font-family: Montserrat Regular;
            font-size: 16px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            color: $color-primary;
            height: 136px;
            max-height: 136px;
            overflow: hidden;
            margin-bottom: 22px;
        }
        .article-block__date 
        {
            font-family: Montserrat Regular;
            font-size: 14px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.57;
            letter-spacing: normal;
            color: $color-disabled;
            height: 22px;
            max-height: 22px;
            overflow: hidden;
            position: absolute;
            bottom: 32px;
        }
    }
}

.useful-articles 
{
    h1 
    {
        text-align: center;
    }
    &-content 
    {
        .row 
        {
            margin-left: -10px;
            margin-right: -10px;
            .col-3 
            {
                padding-left: 10px;
                padding-right: 10px;
            }
        }
    }
}

// Страница Статьи

.all-articles
{
    .row 
    {
        margin-left: -10px;
        margin-right: -10px;
        .col-3 
        {
            padding-left: 10px;
            padding-right: 10px;
            margin-bottom: 22px;
        }
    }
}

// Страница Часто задаваемые вопросы

.wrapper-ask-question
{
    form 
    {
        input[type="text"]
        {
            width: 300px;
        }
        textarea
        {
            width: 610px;
            height: 127px;
        }
    }
}

textarea
{
    resize: none;
    outline: none;
    border: solid 2px #dddce8;
    background-color: #ffffff;
    font-family: Montserrat Bold;
    font-size: 13px;
    font-weight: 700;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #b7b6c3;
    padding-top: 20px;
    padding-left: 20px;
}

textarea:focus
{
    color: $color-ref;
    border-color: $color-ref;
}




.footer 
{
    background-color: #fff;
    padding-top: 64px;
    padding-bottom: 64px;
    &-pages 
    {
        &__link
        {
            font-family: Montserrat Regular;
            font-size: 14px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 2.14;
            letter-spacing: normal;
            color: $color-ref;
            display: block;
            border: 0;
        }
    }
    &-contacts 
    {
        &__block 
        {
            margin-bottom: 22px;
            display: flex;
            img 
            {
                margin-right: 10px;
            }
            a 
            {
                display: block;
                border: 0;
                font-family: Montserrat Regular;
                font-size: 15px;
                font-weight: normal;
                font-stretch: normal;
                font-style: normal;
                line-height: 2;
                letter-spacing: normal;
                color: $color-primary;
            }
        }
        .feedback 
        {
            font-size: 12px;
        }
    }
    &-left 
    {
        a 
        {
            display: block;
            border: 0;
        }
    }
    &-right
    {
        &__title
        {
            font-family: Raleway Bold;
            font-size: 18px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            color: $color-ref;
            margin-bottom: 22px;
            display: block;
            border: 0;
        } 
    }
}







@import './_media';